{% extends '_base.html' %}
{% load crispy_forms_tags %}

{% block title %}فراموشی رمز عبور{% endblock title %}

{% block content %}
   <div class="container ">
      <div class="card shadow my-3 p-5">
        <h3>فراموشی رمز عبور</h3>
        <form action="" method = "POST">
          {% csrf_token %}
          {{form|crispy}}
          <input class = "btn btn-success" type="submit" value = "ارسال">
        </form> 
        <br>
        <p>
          <a href="{% url 'login' %}">ورود</a>
          <span>یا</span>
          <a href="{% url 'home' %}">خونه</a>
        </p>
      </div> 
    </div>
{% endblock content %}
